In [1]:
# Empresa Fome Zero

# A empresa Fome Zero é uma marketplace de restaurantes. Ou seja, seu core
# business é facilitar o encontro e negociações de clientes e restaurantes.

In [ ]:
# PERGUNTAS

# Geral
# 1. Quantos restaurantes únicos estão registrados?
# 2. Quantos países únicos estão registrados?
# 3. Quantas cidades únicas estão registradas?
# 4. Qual o total de avaliações feitas?
# 5. Qual o total de tipos de culinária registrados?

# Pais
# 1. Qual o nome do país que possui mais cidades registradas?
# 2. Qual o nome do país que possui mais restaurantes registrados?
# 3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4
# registrados?
# 4. Qual o nome do país que possui a maior quantidade de tipos de culinária
# distintos?
# 5. Qual o nome do país que possui a maior quantidade de avaliações feitas?
# 6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem
# entrega?
# 7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam
# reservas?
# 8. Qual o nome do país que possui, na média, a maior quantidade de avaliações
# registrada?
# 9. Qual o nome do país que possui, na média, a maior nota média registrada?
# 10. Qual o nome do país que possui, na média, a menor nota média registrada?
# 11. Qual a média de preço de um prato para dois por país?

# Cidade
# 1. Qual o nome da cidade que possui mais restaurantes registrados?
# 2. Qual o nome da cidade que possui mais restaurantes com nota média acima de
# 4?
# 3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de
# 2.5?
# 4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?
# 5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária
# distintas?
# 6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem
# reservas?
# 7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem
# entregas?
# 8. Qual o nome da cidade que possui a maior quantidade de restaurantes que
# aceitam pedidos online?

# Restaurantes
# 1. Qual o nome do restaurante que possui a maior quantidade de avaliações?
# 2. Qual o nome do restaurante com a maior nota média?
# 3. Qual o nome do restaurante que possui o maior valor de uma prato para duas
# pessoas?
# 4. Qual o nome do restaurante de tipo de culinária brasileira que possui a menor
# média de avaliação?
# 5. Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que
# possui a maior média de avaliação?
# 6. Os restaurantes que aceitam pedido online são também, na média, os
# restaurantes que mais possuem avaliações registradas?
# 7. Os restaurantes que fazem reservas são também, na média, os restaurantes que
# possuem o maior valor médio de um prato para duas pessoas?
# 8. Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América
# possuem um valor médio de prato para duas pessoas maior que as churrascarias
# americanas (BBQ)?

# Tipos de Culinária
# 1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do
# restaurante com a maior média de avaliação?
# 2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do
# restaurante com a menor média de avaliação?
# 3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do
# restaurante com a maior média de avaliação?
# 4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do
# restaurante com a menor média de avaliação?
# 5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do
# restaurante com a maior média de avaliação?
# 6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do
# restaurante com a menor média de avaliação?
# 7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do
# restaurante com a maior média de avaliação?
# 8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do
# restaurante com a menor média de avaliação?
# 9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do
# restaurante com a maior média de avaliação?
# 10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do
# restaurante com a menor média de avaliação?
# 11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas
# pessoas?
# 12. Qual o tipo de culinária que possui a maior nota média?
# 13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos
# online e fazem entregas?

In [396]:
import pandas as pd
import inflection

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [176]:
df = pd.read_csv('data/zomato.csv')
df

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",3100,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",800,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,700,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7522,5912546,Eataly,208,İstanbul,"Zorlu Center AVM, Köprü Katı, Levazım Mahalles...","Zorlu Center AVM, Levazım, Beşiktaş","Zorlu Center AVM, Levazım, Beşiktaş, İstanbul",29.017326,41.065322,"Italian, Pizza, Fresh Fish",300,Turkish Lira(TL),0,0,0,0,4,4.3,5BA829,Very Good,1367
7523,5913006,Tarihi Çınaraltı Aile Çay Bahçesi,208,İstanbul,"Çengelköy Mahallesi, Çınaraltı Camii Sokak, No...",Çengelköy Merkez,"Çengelköy Merkez, İstanbul",29.052620,41.050280,"Fast Food, Izgara, Seafood, Tea, Coffee",45,Turkish Lira(TL),0,0,0,0,2,4.5,3F7E00,Excellent,1172
7524,5923535,Boon Cafe & Restaurant,208,İstanbul,"Çengelköy Mahallesi, Çengelköy Caddesi, Kara S...",Çengelköy Merkez,"Çengelköy Merkez, İstanbul",29.052623,41.050717,Restaurant Cafe,140,Turkish Lira(TL),0,0,0,0,4,4.2,5BA829,Very Good,1160
7525,5914190,Kanaat Lokantası,208,İstanbul,"Sultantepe Mahallesi, Selmani Pak Caddesi, No ...",Üsküdar Merkez,"Üsküdar Merkez, İstanbul",29.016590,41.025741,"Home-made, Izgara",95,Turkish Lira(TL),0,0,0,0,3,4.0,5BA829,Very Good,770
7526,5913508,Katibim,208,İstanbul,"Mimar Sinan Mahallesi, Harem Sahilyolu, No 53,...",Üsküdar Merkez,"Üsküdar Merkez, İstanbul",29.010808,41.025501,"Restaurant Cafe, Kebab, Turkish Pizza",150,Turkish Lira(TL),0,0,0,0,4,4.2,5BA829,Very Good,1141

In [ ]:
# FUNÇÕES ÚTEIS

# 1. Para colocar o nome dos países com base no código de cada país
# 2. Criar a categoria do tipo de comida com base no range de valores.
# 3. Criar o nome das cores com base nos códigos de cores
# 4. Para renomear as colunas do DataFrame

In [ ]:
# Preenchimento do nome dos países
COUNTRIES = {
1: "India",
14: "Australia",
30: "Brazil",
37: "Canada",
94: "Indonesia",
148: "New Zeland",
162: "Philippines",
166: "Qatar",
184: "Singapure",
189: "South Africa",
191: "Sri Lanka",
208: "Turkey",
214: "United Arab Emirates",
215: "England",
216: "United States of America",
}
def country_name(country_id):
    return COUNTRIES[country_id]

#Criação do Tipo de Categoria de Comida
def create_price_tye(price_range):
    if price_range == 1:
        return "cheap"
    elif price_range == 2:
        return "normal"
    elif price_range == 3:
        return "expensive"
    else:
        return "gourmet"

# Criação do nome das Cores
COLORS = {
"3F7E00": "darkgreen",
"5BA829": "green",
"9ACD32": "lightgreen",
"CDD614": "orange",
"FFBA00": "red",
"CBCBC8": "darkred",
"FF7800": "darkred",
}
def color_name(color_code):
    return COLORS[color_code]

#Renomear as colunas do DataFrame
def rename_columns(dataframe):
    df = dataframe.copy()
    title = lambda x: inflection.titleize(x)
    snakecase = lambda x: inflection.underscore(x)
    spaces = lambda x: x.replace(" ", "")
    cols_old = list(df.columns)
    cols_old = list(map(title, cols_old))
    cols_old = list(map(spaces, cols_old))
    cols_new = list(map(snakecase, cols_old))
    df.columns = cols_new
    
    return df

# Além disso, o Cientista de Dados também sugeriu categorizar, inicialmente, todos os
# restaurantes somente por um tipo de culinária. Para isso, ele te entregou o seguinte
# código:
#df["Cuisines"] = df.loc[:, "Cuisines"].apply(lambda x: x.split(",")[0])
df["Cuisines"] = df.loc[:, "Cuisines"].astype(str).apply(lambda x: x.split(",")[0])

In [179]:
df = rename_columns(df)

In [180]:
df.head()

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,average_cost_for_two,currency,has_table_booking,has_online_delivery,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",3100,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",800,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,700,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858

In [182]:
df['switch_to_order_menu'].unique() # como a coluna "Switch to order menu" tem apenas os mesmos valores, irei removê-la

array([0])

In [183]:
df = df.drop('switch_to_order_menu', axis=1)

In [184]:
df = df.drop_duplicates()

In [185]:
df.shape[0] # quantas linhas restaram depois do drop_duplicates

6942

In [186]:
df.describe() # entendo melhor os dados numéricos

,restaurant_id,country_code,longitude,latitude,average_cost_for_two,has_table_booking,has_online_delivery,is_delivering_now,price_range,aggregate_rating,votes
count,6.942000e+03,6942.000000,6942.000000,6942.000000,6.942000e+03,6942.000000,6942.000000,6942.000000,6942.000000,6942.000000,6942.000000
mean,1.076193e+07,95.785941,31.441225,19.434945,7.506579e+03,0.060501,0.349755,0.174589,2.632383,4.126765,604.384039
std,7.037688e+06,99.299120,79.059108,23.499885,3.022515e+05,0.238430,0.476927,0.379643,0.966060,0.674754,1115.744044
min,5.490000e+02,1.000000,-122.700455,-41.330428,0.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,3.600075e+06,1.000000,-43.225469,12.902646,6.000000e+01,0.000000,0.000000,0.000000,2.000000,4.000000,150.000000
50%,7.900186e+06,30.000000,73.758624,25.270021,2.500000e+02,0.000000,0.000000,0.000000,3.000000,4.200000,328.000000
75%,1.714692e+07,215.000000,79.832568,32.749289,6.000000e+02,0.000000,1.000000,0.000000,3.000000,4.500000,649.000000
max,1.904028e+07,216.000000,175.310552,55.976980,2.500002e+07,1.000000,1.000000,1.000000,4.000000,4.900000,41333.000000

In [ ]:
df.isna().sum()

restaurant_id            0
restaurant_name          0
country_code             0
city                     0
address                  0
locality                 0
locality_verbose         0
longitude                0
latitude                 0
cuisines                13
average_cost_for_two     0
currency                 0
has_table_booking        0
has_online_delivery      0
is_delivering_now        0
price_range              0
aggregate_rating         0
rating_color             0
rating_text              0
votes                    0
dtype: int64

In [188]:
df = df.dropna()
df.isna().sum()

restaurant_id           0
restaurant_name         0
country_code            0
city                    0
address                 0
locality                0
locality_verbose        0
longitude               0
latitude                0
cuisines                0
average_cost_for_two    0
currency                0
has_table_booking       0
has_online_delivery     0
is_delivering_now       0
price_range             0
aggregate_rating        0
rating_color            0
rating_text             0
votes                   0
dtype: int64

In [36]:
# Começando a responder as perguntas

In [ ]:
# Geral
# 1. Quantos restaurantes únicos estão registrados?
# 2. Quantos países únicos estão registrados?
# 3. Quantas cidades únicas estão registradas?
# 4. Qual o total de avaliações feitas?
# 5. Qual o total de tipos de culinária registrados?

In [193]:
# 1. Quantos restaurantes únicos estão registrados?
print(f'Há {df['restaurant_id'].nunique()} restaurantes únicos no dataframe')

Há 6929 restaurantes únicos no dataframe

In [194]:
# 2. Quantos países únicos estão registrados?
print(f'Há {df['country_code'].nunique()} países únicos no dataframe')

Há 15 países únicos no dataframe

In [195]:
# 3. Quantas cidades únicas estão registradas?
print(f'Há {df['city'].nunique()} cidades únicas no dataframe')

Há 125 cidades únicas no dataframe

In [196]:
# 4. Qual o total de avaliações feitas?
print(f'Há {df['votes'].sum()} avaliações feitas no dataframe')

Há 4194533 avaliações feitas no dataframe

In [197]:
# 5. Qual o total de tipos de culinária registrados?
df['cuisines'].nunique()

2832

In [ ]:
# Pais
# 1. Qual o nome do país que possui mais cidades registradas?
# 2. Qual o nome do país que possui mais restaurantes registrados?
# 3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4
# registrados?
# 4. Qual o nome do país que possui a maior quantidade de tipos de culinária
# distintos?
# 5. Qual o nome do país que possui a maior quantidade de avaliações feitas?
# 6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem
# entrega?
# 7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam
# reservas?
# 8. Qual o nome do país que possui, na média, a maior quantidade de avaliações
# registrada?
# 9. Qual o nome do país que possui, na média, a maior nota média registrada?
# 10. Qual o nome do país que possui, na média, a menor nota média registrada?
# 11. Qual a média de preço de um prato para dois por país?

In [198]:
df.head(1)

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,average_cost_for_two,currency,has_table_booking,has_online_delivery,is_delivering_now,price_range,aggregate_rating,rating_color,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,3,4.6,3F7E00,Excellent,619

In [203]:
# 1. Qual o nome do país que possui mais cidades registradas?
(df[['country_code', 'city']].groupby('country_code')
                             .nunique()
                             .sort_values('city', ascending=False)
                             .reset_index()
                             .iloc[0,0:])

country_code     1
city            49
Name: 0, dtype: int64

In [204]:
country_name(1)

'India'

In [205]:
# 2. Qual o nome do país que possui mais restaurantes registrados?
(df[['country_code', 'restaurant_id']].groupby('country_code')
                                      .count()
                                      .sort_values('restaurant_id', ascending=False)
                                      .reset_index()
                                      .iloc[0,0:])

country_code        1
restaurant_id    3111
Name: 0, dtype: int64

In [206]:
country_name(1)

'India'

In [211]:
# 3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4
# registrados?
df_aux = df[df['price_range'] >= 4]
(df_aux[['country_code', 'restaurant_name']].groupby('country_code')
                                            .count()
                                            .sort_values('restaurant_name', ascending=False)
                                            .reset_index()
                                            .iloc[0,0:])

country_code       216
restaurant_name    415
Name: 0, dtype: int64

In [212]:
country_name(216)

'United States of America'

In [218]:
# 4. Qual o nome do país que possui a maior quantidade de tipos de culinária
# distintos?
(df[['country_code', 'cuisines']].groupby('country_code')
                                 .nunique()
                                 .sort_values('cuisines', ascending=False)
                                 .reset_index()
                                 .iloc[0,:])

country_code       1
cuisines        1449
Name: 0, dtype: int64

In [216]:
country_name(1)

'India'

In [220]:
# 5. Qual o nome do país que possui a maior quantidade de avaliações feitas?
(df[['country_code', 'votes']].groupby('country_code')
                              .count()
                              .reset_index()
                              .sort_values('votes', ascending=False)
                              .iloc[0,:])

country_code       1
votes           3111
Name: 0, dtype: int64

In [221]:
country_name(1)

'India'

In [224]:
# 6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem
# entrega?
df_aux = df[df['is_delivering_now'] == 1]

(df_aux[['country_code', 'is_delivering_now']].groupby('country_code')
                                              .count()
                                              .sort_values('is_delivering_now', ascending=False)
                                              .reset_index()
                                              .iloc[0,:])

country_code            1
is_delivering_now    1150
Name: 0, dtype: int64

In [225]:
country_name(1)

'India'

In [ ]:
# 7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam
# reservas?
df_aux = df[df['has_table_booking'] == 1]

(df_aux[['country_code', 'restaurant_id']].groupby('country_code')
                                          .count()
                                          .sort_values('restaurant_id', ascending=False)
                                          .reset_index()
                                          .iloc[0,:])

country_code       1
restaurant_id    256
Name: 0, dtype: int64

In [231]:
country_name(1)

'India'

In [233]:
# 8. Qual o nome do país que possui, na média, a maior quantidade de avaliações
# registrada?
(df[['country_code', 'votes']].groupby('country_code')
                              .mean()
                              .sort_values('votes', ascending=False)
                              .reset_index()
                              .iloc[0,:])

country_code      94.000
votes           1112.825
Name: 0, dtype: float64

In [234]:
country_name(94)

'Indonesia'

In [238]:
# 9. Qual o nome do país que possui, na média, a maior nota média registrada?
(df[['country_code', 'aggregate_rating']].groupby('country_code')
                                         .mean()
                                         .sort_values('aggregate_rating', ascending=False)
                                         .reset_index()
                                         .iloc[0,:])

country_code        94.00000
aggregate_rating     4.60125
Name: 0, dtype: float64

In [239]:
country_name(94)

'Indonesia'

In [240]:
# 10. Qual o nome do país que possui, na média, a menor nota média registrada?
(df[['country_code', 'aggregate_rating']].groupby('country_code')
                                         .mean('aggregate_rating')
                                         .sort_values('aggregate_rating')
                                         .reset_index()
                                         .iloc[0,:])

country_code        30.000000
aggregate_rating     3.321667
Name: 0, dtype: float64

In [241]:
country_name(30)

'Brazil'

In [248]:
# 11. Qual a média de preço de um prato para dois por país?
(df[['country_code', 'average_cost_for_two']].groupby('country_code')
                                             .mean()
                                             .sort_values('average_cost_for_two', ascending=False)
                                             .reset_index())

    country_code  average_cost_for_two
0             94         303000.000000
1             14         138959.783333
2            191           2579.375000
3            162           1227.825000
4              1            704.400514
5            189            339.228324
6            166            174.000000
7            214            153.716667
8            184            141.437500
9             30            138.812500
10           208            128.584906
11           148             62.154812
12           216             55.029840
13           215             43.510000
14            37             41.861111

In [ ]:
# Cidade
# 1. Qual o nome da cidade que possui mais restaurantes registrados?
# 2. Qual o nome da cidade que possui mais restaurantes com nota média acima de
# 4?
# 3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de
# 2.5?
# 4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?
# 5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária
# distintas?
# 6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem
# reservas?
# 7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem
# entregas?
# 8. Qual o nome da cidade que possui a maior quantidade de restaurantes que
# aceitam pedidos online?

In [251]:
# 1. Qual o nome da cidade que possui mais restaurantes registrados?
(df[['city', 'restaurant_id']].groupby('city')
                              .count()
                              .sort_values('restaurant_id', ascending=False)
                              .reset_index()
                              .iloc[0,0])

'Abu Dhabi'

In [254]:
# 2. Qual o nome da cidade que possui mais restaurantes com nota média acima de
# 4?
df_aux = df[df['aggregate_rating'] > 4]
(df_aux[['city', 'aggregate_rating']].groupby('city')
                                     .count()
                                     .sort_values('aggregate_rating', ascending=False)
                                     .reset_index()
                                     .iloc[0,0])

'Bangalore'

In [255]:
# 3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de
# 2.5?
df_aux = df[df['aggregate_rating'] < 2.5]
(df_aux[['city', 'restaurant_id']].groupby('city')
                                  .count()
                                  .sort_values('restaurant_id', ascending=False)
                                  .reset_index()
                                  .iloc[0,0])

'Gangtok'

In [260]:
# 4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?
(df[['city', 'average_cost_for_two']].groupby('city')
                                     .mean()
                                     .sort_values('average_cost_for_two', ascending=False)
                                     .reset_index()
                                     .iloc[0,0])

'Adelaide'

In [270]:
# 5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária
# distintas?
(df[['city', 'cuisines']].groupby('city')
                         .nunique()
                         .sort_values('cuisines', ascending=False)
                         .reset_index()
                         .iloc[0,0])

'Mangalore'

In [271]:
# 6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem
# reservas?
df_aux = df[df['has_table_booking'] == 1]

(df_aux[['city', 'restaurant_id']].groupby('city')
                                  .count()
                                  .sort_values('restaurant_id', ascending=False)
                                  .reset_index()
                                  .iloc[0,0])

'Bangalore'

In [274]:
# 7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem
# entregas?
df_aux = df[df['is_delivering_now'] == 1]

(df_aux[['city', 'restaurant_id']].groupby('city')
                                  .count()
                                  .sort_values('restaurant_id', ascending=False)
                                  .reset_index()
                                  .iloc[0,0])

'Vadodara'

In [277]:
# 8. Qual o nome da cidade que possui a maior quantidade de restaurantes que
# aceitam pedidos online?
(df[df['has_online_delivery'] == 1][['city', 'restaurant_id']].groupby('city')
                                                              .count()
                                                              .sort_values('restaurant_id', ascending=False)
                                                              .reset_index()
                                                              .iloc[0,0])

'Bhopal'

In [ ]:
# Restaurantes
# 1. Qual o nome do restaurante que possui a maior quantidade de avaliações?
# 2. Qual o nome do restaurante com a maior nota média?
# 3. Qual o nome do restaurante que possui o maior valor de uma prato para duas
# pessoas?
# 4. Qual o nome do restaurante de tipo de culinária brasileira que possui a menor
# média de avaliação?
# 5. Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que
# possui a maior média de avaliação?
# 6. Os restaurantes que aceitam pedido online são também, na média, os
# restaurantes que mais possuem avaliações registradas?
# 7. Os restaurantes que fazem reservas são também, na média, os restaurantes que
# possuem o maior valor médio de um prato para duas pessoas?
# 8. Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América
# possuem um valor médio de prato para duas pessoas maior que as churrascarias
# americanas (BBQ)?

In [350]:
# 1. Qual o nome do restaurante que possui a maior quantidade de avaliações?
(df[['restaurant_name', 'votes']].sort_values('votes', ascending=False).reset_index(drop=True).iloc[0,0])

'Bawarchi'

In [351]:
# 2. Qual o nome do restaurante com a maior nota média?
(df[['restaurant_name', 'aggregate_rating']].sort_values('aggregate_rating', ascending=False)
                                            .reset_index(drop=True)
                                            .iloc[0,0])

'The Purple Pig'

In [352]:
# 3. Qual o nome do restaurante que possui o maior valor de uma prato para duas
# pessoas?
(df[['restaurant_name', 'average_cost_for_two']].sort_values('average_cost_for_two', ascending=False)
                                                .reset_index(drop=True).iloc[0,0])

# df.loc[:, cols].sort_values(['average_cost_for_two', 'restaurant_id'], ascending=[False, True]).iloc[0, 1]

"d'Arry's Verandah Restaurant"

In [353]:
# 4. Qual o nome do restaurante de tipo de culinária brasileira que possui a menor
# média de avaliação?
(df[df['cuisines'] == 'Brazilian'][['restaurant_name', 'aggregate_rating']].sort_values('aggregate_rating', ascending=True)
                                                                           .reset_index(drop=True)
                                                                           .iloc[0,0])

'Café Savana'

In [364]:
# 5. Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que
# possui a maior média de avaliação?
((df[(df['cuisines'] == 'Brazilian') & (df['country_code'] == 30)])[['restaurant_name', 'aggregate_rating']].sort_values('aggregate_rating', ascending=False)
                                                                                                            .reset_index(drop=True)
                                                                                                            .iloc[0,0])

'Aprazível'

In [365]:
# 6. Os restaurantes que aceitam pedido online são também, na média, os
# restaurantes que mais possuem avaliações registradas?
(df[['has_online_delivery', 'votes']].groupby('has_online_delivery')
                                     .mean()
                                     .sort_values('votes', ascending=False)
                                     .reset_index()
                                     )

   has_online_delivery       votes
0                    1  838.821664
1                    0  479.421018

In [367]:
# 7. Os restaurantes que fazem reservas são também, na média, os restaurantes que
# possuem o maior valor médio de um prato para duas pessoas?
(df[['has_table_booking','average_cost_for_two']].groupby('has_table_booking')
                                                 .mean()
                                                 .sort_values('average_cost_for_two', ascending=False)
                                                 )

                   average_cost_for_two
has_table_booking
1                          69998.423810
0                           3488.596866

In [375]:
# 8. Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América
# possuem um valor médio de prato para duas pessoas maior que as churrascarias
# americanas (BBQ)?

lines = (df['country_code'] == 216) & ((df['cuisines'] == 'BBQ') | (df['cuisines'] == 'Japanese'))

(df.loc[lines, ['average_cost_for_two', 'cuisines'] ]
                                         .groupby('cuisines')
                                         .mean()
                                         .sort_values('average_cost_for_two', ascending=False)
                                         .reset_index())

   cuisines  average_cost_for_two
0  Japanese             40.000000
1       BBQ             39.705882

In [376]:
# Tipos de Culinária
# 1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do
# restaurante com a maior média de avaliação?
# 2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do
# restaurante com a menor média de avaliação?
# 3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do
# restaurante com a maior média de avaliação?
# 4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do
# restaurante com a menor média de avaliação?
# 5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do
# restaurante com a maior média de avaliação?
# 6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do
# restaurante com a menor média de avaliação?
# 7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do
# restaurante com a maior média de avaliação?
# 8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do
# restaurante com a menor média de avaliação?
# 9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do
# restaurante com a maior média de avaliação?
# 10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do
# restaurante com a menor média de avaliação?
# 11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas
# pessoas?
# 12. Qual o tipo de culinária que possui a maior nota média?
# 13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos
# online e fazem entregas?

In [398]:
# 1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do
# restaurante com a maior média de avaliação?

(df[df['cuisines'] == 'Italian'][['restaurant_name', 'aggregate_rating', 'restaurant_id']].sort_values(['aggregate_rating',
                                                                                                        'restaurant_id'], ascending=[False, True])
                                                                         .iloc[0,0])

'Ombra'

In [392]:
# 2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do
# restaurante com a menor média de avaliação?
(df[df['cuisines'] == 'Italian'][['restaurant_name', 'aggregate_rating', 'restaurant_id']].sort_values(['aggregate_rating', 
                                                                                                        'restaurant_id'], ascending=[True, True])
                                                                         .iloc[0,0])

'Ristorantino'

In [402]:
# 3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do
# restaurante com a maior média de avaliação?
(df[df['cuisines'] == 'American'][['restaurant_name', 'restaurant_id', 'aggregate_rating']].sort_values(['aggregate_rating',
                                                                                                       'restaurant_id'], ascending=[False,
                                                                                                                                    True])
                                                                                           .iloc[0,0])

"S'MAC"

In [404]:
# 4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do
# restaurante com a menor média de avaliação?
(df[df['cuisines'] == 'American'][['restaurant_name', 'restaurant_id', 'aggregate_rating']].sort_values(['aggregate_rating',
                                                                                                         'restaurant_id'], ascending=[True,
                                                                                                                                      True])
                                                                                           .iloc[0,0])

'Alston Bar & Beef'

In [406]:
# 5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do
# restaurante com a maior média de avaliação?
(df[df['cuisines'] == 'Arabian'][['restaurant_name', 'restaurant_id', 'aggregate_rating']].sort_values(['aggregate_rating', 
                                                                                                        'restaurant_id'], ascending=[False,
                                                                                                                                     True])
                                                                                          .iloc[0,0])

'Mandi@36'

In [408]:
# 6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do
# restaurante com a menor média de avaliação?
(df[df['cuisines'] == 'Arabian'][['restaurant_name', 
                                  'restaurant_id', 'aggregate_rating']].sort_values(['aggregate_rating', 
                                                                                    'restaurant_id'], ascending=[True,
                                                                                                                 True])
                                                                        .iloc[0,0])

'Raful'

In [409]:
# 7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do
# restaurante com a maior média de avaliação?
(df[df['cuisines'] == 'Japanese'][['restaurant_name', 'restaurant_id'
                                   , 'aggregate_rating']].sort_values(['aggregate_rating', 
                                                                       'restaurant_id'], ascending=[False,
                                                                                                    True])
                                                         .iloc[0,0])

'Sushi Leblon'

In [411]:
# 8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do
# restaurante com a menor média de avaliação?
(df[df['cuisines'] == 'Japanese'][['restaurant_name',
                                   'restaurant_id',
                                   'aggregate_rating']].sort_values(['aggregate_rating',
                                                                     'restaurant_id'], ascending=[True,
                                                                                                  True])
                                                       .iloc[0,0])

'Banzai Sushi'

In [417]:
# 9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do
# restaurante com a maior média de avaliação?
(df[df['cuisines'] == 'Home-made'][['restaurant_name', 
                                    'restaurant_id',
                                    'aggregate_rating']].sort_values(['aggregate_rating', 
                                                                      'restaurant_id'], ascending=[False,
                                                                                                   True])
                                                        .iloc[0,0])

'GurMekan Restaurant'

In [415]:
# 10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do
# restaurante com a menor média de avaliação?
(df[df['cuisines'] == 'Home-made'][['restaurant_name', 
                                    'restaurant_id',
                                    'aggregate_rating']].sort_values(['aggregate_rating', 
                                                                      'restaurant_id'], ascending=[True,
                                                                                                   True])
                                                        .iloc[0,0])

'GurMekan Restaurant'

In [421]:
# 11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas
# pessoas?
(df[['cuisines', 'average_cost_for_two', 'restaurant_id']].sort_values(['average_cost_for_two',
                                                                        'restaurant_id'], ascending=[False,
                                                                                                     True])
                                                          .iloc[0,0])

'Modern Australian, Australian'

In [425]:
# 12. Qual o tipo de culinária que possui a maior nota média?

(df[['cuisines', 'aggregate_rating']].groupby('cuisines')
                                     .max()
                                     .sort_values('aggregate_rating', ascending=False)
                                     .reset_index()
                                     .iloc[0,0])

'Filipino, International, Southern'

In [429]:
df.head(1)

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,average_cost_for_two,currency,has_table_booking,has_online_delivery,is_delivering_now,price_range,aggregate_rating,rating_color,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,3,4.6,3F7E00,Excellent,619

In [438]:
# 13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos
# online e fazem entregas?
lines = (df['has_online_delivery'] == 1) & (df['is_delivering_now'] == 1)

(df.loc[:, ['restaurant_id', 'cuisines'] ]
                                         .groupby('cuisines')
                                         .count()
                                         .sort_values('restaurant_id', ascending=False)
                                         .reset_index()).head(1)

       cuisines  restaurant_id
0  North Indian            158